<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>{{ config.title }} • {{ config.description }}</title>

    <!-- CSS -->
    <link href="//fonts.googleapis.com/css?family=Roboto:Regular,Medium,Black" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook -->
    <meta property="og:title" content="{{ config.title }}" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="http://gdgsp.org/am4anos" />
    <meta property="og:image" content="http://gdgsp.org/am4anos/assets/img/preview.jpg" /> 
    <meta property="og:description" content="{{ config.description }}" />
</head>
<body>
    <main class="main">
        <header class="header">
            <div class="header-wrapper">
                <div class="header-content">
                    <h1 class="header-logo">
                        {{ config.title }}
                    </h1>
                    <div class="header-featured">
                        <h2 class="header-featured__title">{{ config.description }}</h2>
                        <p class="header-featured__location">
                            <span class="date">10 de junho</span> <span class="bull">&bull;</span> 09h às 19h <span class="bull">&bull;</span> <span class="location">Oxigênio Aceleradora</span>
                        </p>
                        <div class="header-featured__divisor"></div>
                        <a class="header-button-cta" style="display: none" href="{{ config.tickets.link }}" target="_blank">
                            Inscreva-se
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <section class="section-features">
            <div class="section-wrapper">
                <h3 class="section-title">
                    #AM4ANOS
                    <span class="section-subtitle">Porque você não pode perder esse evento?</span>
                </h3>

                <div class="section-features-main">
                    <div class="section-features-item">
                        <div class="section-features-item__icon home"></div>
                        <div class="section-features-item__description">
                            <h3>Da comunidade, para a comunidade</h3>
                            <p>
                                Seremos recebidos pelos nossos amigos da Oxigênio Aceleradora, em um local super moderno, vibrante, transpirando inovação, de fácil localização! Nosso evento é de médio porte, e além de todo o conteúdo, nós também teremos diversas surpresas para os participantes! Esse evento é um aniversário - com direito a bolo! - e nosso objetivo e ter conosco os principais parceiros do Android Meetup ao longo do último ano!
                            </p>
                        </div>
                    </div>

                    <div class="section-features-item right">
                        <div class="section-features-item__icon mic"></div>
                        <div class="section-features-item__description">
                            <h3>As maiores feras de São Paulo</h3>
                            <p>
                                Diversos profissionais das maiores empresas e startups de tecnologia de São Paulo farão parte da nossa grade de conteúdo. É a sua chance de aprender com os melhores! E para não deixar por menos, ainda teremos diversos convidados especiais! 
                            </p>
                        </div>
                    </div>

                    <div class="section-features-item">
                        <div class="section-features-item__icon comment"></div>
                        <div class="section-features-item__description">
                            <h3>Networking e Conhecimento</h3>
                            <p>
                                O Android Meetup é o mais antigo evento recorrente sobre desenvolvimento para Android do país, e nosso aniversário representa uma oportunidade única para interação e aprendizado. Nesse ano, nós também teremos um Fireside Chat! Traga suas dúvidas e tenha acesso à opinião de alguns dos maiores especialistas do Brasil na área! 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-twitter" style="display: none" >
            <ul class="twitter-list" id="twitter">
                {{#each tweets}}
                    <li class="twitter-item">
                        <p class="twitter-item__tweet">
                            {{tweet}}
                        </p>
                        <a href="https://twitter.com/{{username}}" target="_blank" class="twitter-item__metadata">
                            <img class="twitter-item__avatar" src="assets/img/tweets/{{avatar}}">
                            <span class="twitter-item__username">@{{username}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>

        <section class="section-speakers">
            <div class="section-wrapper">
                <h2 class="section-title">
                    Speakers e Convidados
                </h2>
                <div class="speakers-list">
                    {{#each speakers}}
                        <div class="speaker-item">
                            <img class="speaker-avatar" src="assets/img/speakers/{{avatar}}">
                            <h3 class="speaker-name">{{name}}</h3>
                            {{#if talk}}
                                <p class="speaker-talk">{{talk}}</p>
                            {{/if}}
                            <div class="speaker-social">
                                {{#if github}}
                                    <a class="speaker-social-link github" href="https://github.com/{{github}}" target="_blank"></a>
                                {{/if}}
                                {{#if twitter}}
                                    <a class="speaker-social-link twitter" href="https://twitter.com/{{twitter}}" target="_blank"></a>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <section class="section-tickets" style="display: none" >
            <div class="section-wrapper">
                <div class="tickets-content">
                    <h2 class="tickets-title">
                        R$ 75
                        <span class="tickets-title__line"></span>
                    </h2>
                    <p class="tickets-lot">
                        1º Lote – Válido até 10/06/2017
                    </p>
                    <a class="tickets-buy" href="{{ config.tickets.link }}" target="_blank">Comprar Ingresso</a>
                </div>
            </div>
        </section>

        <section class="section-schedule">
            <div class="section-wrapper">
                <h2 class="section-title">
                    Programação
                    <span class="section-subtitle">Confira o que vai rolar</span>
                </h2>
                <div class="schedule-content">
                    <ul class="schedule-list">
                        {{#each schedule}}
                            <li class="schedule-item">
                                <span class="schedule-item-hour">{{time}}</span>
                                <div class="schedule-item-box {{type}}">
                                    <div class="schedule-item-box__content">
                                        <h4 class="schedule-item-title">{{title}}</h4>
                                        {{#if speaker}}
                                            <p class="schedule-item-speaker">{{speaker}}</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                    <p class="schedule-alert">
                        * os horários e slots poderão sofrer alterações sem aviso prévio.
                    </p>
                </div>
            </div>
        </section>

        <section class="section-location" id="location">
            <div class="section-wrapper">
                <div class="section-location-content">
                    <h2 class="location-title">Oxigênio Aceleradora</h2>
                    <p class="location-address">
                        Alameda Eduardo Prado, 397<br />
                        Campos Elíseos – São Paulo/SP<br />
                        <a class="location-map-link" href="https://goo.gl/maps/jSLj44H8j4z" target="_blank">Ver Mapa</a>
                    </p>
                </div>
            </div>
        </section>

        <section class="section-sponsors">
            <div class="section-wrapper">
                <h2 class="section-title">
                    Patrocinadores
                </h2>
                <div class="sponsors-content">
                    {{#each sponsors}}
                        <a class="item" href="{{website}}" target="_blank">
                            <img class="avatar" src="assets/img/sponsors/{{logo}}">
                        </a>
                    {{/each}}
                </div>

                <h2 class="section-title">
                    Apoiadores
                </h2>
                <div class="sponsors-content">
                    {{#each support}}
                        <a class="item apoio" href="{{website}}" target="_blank">
                            <img src="assets/img/support/{{logo}}">
                        </a>
                    {{/each}}
                </div>
            </div>
        </section>

        <section class="section-speakers">
            <div class="section-wrapper">
                <h2 class="section-title">
                    Quem faz esse evento acontecer !!!
                </h2>
                <div class="speakers-list">
                    {{#each members}}
                        <div class="speaker-item">
                            <img class="speaker-avatar" src="assets/img/speakers/{{avatar}}">
                            <h3 class="speaker-name">{{name}}</h3>
                            {{#if talk}}
                                <p class="speaker-talk">{{talk}}</p>
                            {{/if}}
                            <div class="speaker-social">
                                {{#if github}}
                                    <a class="speaker-social-link github" href="https://github.com/{{github}}" target="_blank"></a>
                                {{/if}}
                                {{#if twitter}}
                                    <a class="speaker-social-link twitter" href="https://twitter.com/{{twitter}}" target="_blank"></a>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-content">
                <p class="footer-mail">organizers@gdgsp.org</p>
                <a class="footer-link" href="http://gdgsp.org/" target="_blank">Organizado por GDG-SP</a>
            </div>
            <div class="footer-content">
                <a class="footer-link" href="https://github.com/diogomoretti" target="_blank">Site template by Diogo Moretti (Front in Floripa)</a>
            </div>
        </footer>
    </main>
</body>
</html>
